<h1>Minhas receitas favoritas</h1>

<% unless current_user.favorited_recipes.empty? %>
  <% current_user.favorited_recipes.each do |recipe| %>
  <h1><%= link_to recipe.title, recipe %> </h1>
  <ul>
      <li><%= recipe.recipe_type.name %></li>
      <li><%= recipe.cuisine.name %></li>
      <li><%= recipe.difficulty %></li>
      <li><%= recipe.cook_time %> minutos</li>
  </ul>
  <% end %>

<% end %>
